{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <h1>All Posts</h1>
    <div>
        {% if user.is_authenticated %}
        <div>
            <h2>New Post</h2>
            <form id="compose-form">
                {% csrf_token %}
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        {% endif %}
        {% include "network/posts.html" with page_obj=page_obj %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}