<div id="posts-container">
    {% for post in page_obj %}
    <div class="post" style="border:black 1px solid">
        <a href="{% url 'profile' post.user_id %}" class="h4 post-user">{{post.user}}</a>
        {% if user.id == post.user_id %}
        <button name="edit" data-post-id="{{post.id}}" class="btn btn-outline-secondary">Edit post</button>
        {% endif %}
        <div class="post-body">{{post.body}}</div>
        <div class="post-foot">
            <hr>
            {{post.timestamp}}
            {% if user.is_authenticated%}
            <button name="like" data-post-id="{{post.id}}" class="btn btn-outline-secondary">❤Like</button>
            <span class="like-counter">0</span>
            {% endif %}
        </div>
        
    </div> 
    {% endfor %}


</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}

    </ul>
</nav>