{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ profile_user.username }}</h1>
    <div>
        <h6>following {{ profile_user.follows.all.count }}</h6>
        <h6>followers {{ profile_user.followed_by.all.count }}</h6>
        {% if user.id != profile_user.id and user.is_authenticated%}
            {% if user not in profile_user.followed_by.all %}
            <button id="follow" class="btn btn-secondary">follow</button>
            {% else %}
            <button id="follow" class="btn btn-secondary">unfollow</button>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if user.id == profile_user.id and user.is_authenticated%}
        <div>
            <h2>New Post</h2>
            <form id="compose-form">
                {% csrf_token %}
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        {% endif %}
        <div id="posts-container">
            {% for post in page_obj %}
            <div style="border:black 1px solid">
                <a href="{% url 'profile' post.user_id %}" class="h4">{{post.user}}</a>
                <button class="btn btn-secondary">Edit post</button>
                <div>
                    {{post.body}}
                    <hr>
                    {{post.timestamp}}
                </div>
                <div>
                    <button>❤Like</button>
                </div>
            </div> 
            {% endfor %}


        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}