{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ profile_user.username }}</h1>
    <div>
        <h6>following {{ profile_user.follows.all.count }}</h6>
        <h6>followers {{ profile_user.followed_by.all.count }}</h6>
        {% if user.id != profile_user.id and user.is_authenticated%}
            {% if user not in profile_user.followed_by.all %}
            <button id="follow" class="btn btn-secondary">follow</button>
            {% else %}
            <button id="follow" class="btn btn-secondary">unfollow</button>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if user.id == profile_user.id and user.is_authenticated%}
        <div>
            <h2>New Post</h2>
            <form id="compose-form">
                {% csrf_token %}
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
        {% endif %}
        {% include "network/posts.html" with page_obj=page_obj %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}